.issue-header-container {
  border: 0.5px solid #d0d7de;
  display: flex;
  background-color: #f6f8fa;
  padding: 16px;
  width: 97%;
  border-radius: 6px 6px 0px 0px;
}

.open-issue {
  font-size: 14px;
  font-weight: 600;
}

.close-issue {
  font-size: 14px;
  margin: 0px 10px;
}

.open-issue i {
  color: #1a7f37;
}

.close-issue i {
  color: green;
}

.issue-header-list {
  list-style: none;
  display: flex;
  position: absolute;
  right: 150px;
  top: 145px;
  color: #57606a;
}

.issue-header-list li {
  margin-right: 20px;
}
